<!DOCTYPE html><!--
* CoreUI - Free Bootstrap Admin Template
* @version v4.2.2
* @link https://coreui.io/product/free-bootstrap-admin-template/
* Copyright (c) 2023 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://github.com/coreui/coreui-free-bootstrap-admin-template/blob/main/LICENSE)
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Add product</title>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendors styles-->
    <link rel="stylesheet" href="vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="css/vendors/simplebar.css">
    <!-- Main styles for this application-->
    <link href="css/style.css" rel="stylesheet">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link href="css/examples.css" rel="stylesheet">
</head>
<body class="min-vh-100">


<sidebar th:replace="fragments/page.html :: sidebar"></sidebar>
<div class="wrapper d-flex flex-column vh-100">
    <div class="header sticky-top container-fluid">
        <header th:replace="fragments/page.html :: header"></header>
    </div>

    <div class="body flex-grow-4 p-4 ">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header"><strong>Produse</strong><span class="small ms-1"
                                                                       th:text="${currentUser.name}"></span></div>
                <div class="card-body">
                    <p class="text-medium-emphasis small">Adauga un produs</p>
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" th:href="@{/addProduct}">
                                </svg>Adaug produs</a></li>
                        <li class="nav-item">
                            <a class="nav-link " th:href="@{/listProducts}">
                                </svg>Inventar</a></li>
                    </ul>
                    <div class="tab-content rounded-bottom">
                        <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1003">
                            <div class="row">
                                <div class="col">
                                    <form class="row g-3" method="post" th:action="@{/addProduct}"
                                          th:object="${productForm}">
                                        <div class="col-12">
                                            <div class="col-md-12 mb-3">
                                                <label class="form-label" for="name">Denumire produs</label>
                                                <input class="form-control" th:field="*{name}" id="name" type="text"
                                                       placeholder="denumirea produsului">
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <label class="form-label" for="description">Descriere produs</label>
                                                <textarea class="form-control" th:field="*{description}"
                                                          id="description"
                                                          rows="3"></textarea>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <label class="form-label" for="quantity">Numarul de bucati</label>
                                                <input class="form-control" th:field="*{quantity}" id="quantity"
                                                       type="text"
                                                       placeholder="numarul de bucati al produselor cumparate">
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label" for="buyPrice">Pret cumparare</label>
                                                <div class="input-group mb-3"><span
                                                        class="input-group-text">Lei + TVA</span>
                                                    <input class="form-control" type="text" th:field="*{buyPrice}"
                                                           id="buyPrice"
                                                           aria-label="Amount (to the nearest dollar)"><span
                                                            class="input-group-text">.00</span>
                                                </div>
                                            </div>
                                            <div class="col-md-6 mb-3">
                                                <label class="form-label" for="sellPrice">Pret vanzare</label>
                                                <div class="input-group mb-3"><span
                                                        class="input-group-text">Lei + TVA</span>
                                                    <input class="form-control" type="text" th:field="*{sellPrice}"
                                                           id="sellPrice"
                                                           aria-label="Amount (to the nearest dollar)"><span
                                                            class="input-group-text">.00</span>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <label class="form-label" for="picture">Poza produsului</label>
                                                <input class="form-control" id="picture" type="file">
                                            </div>
                                            <div class="col-12">
                                                <button class="btn btn-primary" type="submit">Adauga produs</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col">
                                    <div class="vertical-divider">
                                        <table class="table">
                                            <thead>

                                            <tr>
                                                <th scope="col">Id</th>
                                                <th scope="col">Produs</th>
                                                <th scope="col">Buc</th>
                                                <th scope="col">Pret_cump</th>
                                                <th scope="col">Pret_vanz</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="product: ${productTemp}">
                                                <th th:text="${product.id}"></th>
                                                <td th:text="${product.name}"></td>
                                                <td th:text="${product.quantity}"></td>
                                                <td th:text="${product.buyPrice}"></td>
                                                <td th:text="${product.sellPrice}"></td>
                                            </tr>

                                            </tbody>
                                        </table>
                                        <div class="col-12">
                                            <a class="btn btn-primary" type="button" th:href="@{/saveProducts}" >Finalizeaza receptia</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer sticky-bottom container-fluid mt-auto mb-0">
        <footer th:replace="fragments/page.html :: footer"></footer>
    </div>
</div>
<!-- CoreUI and necessary plugins-->
<script src="vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
<script src="vendors/simplebar/js/simplebar.min.js"></script>
<!-- Plugins and scripts required by this view-->
<script src="vendors/chart.js/js/chart.min.js"></script>
<script src="vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
<script src="vendors/@coreui/utils/js/coreui-utils.js"></script>
<script src="js/main.js"></script>
<script>
</script>
</body>
</html>