<!DOCTYPE html><!--
* CoreUI - Free Bootstrap Admin Template
* @version v4.2.2
* @link https://coreui.io/product/free-bootstrap-admin-template/
* Copyright (c) 2023 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://github.com/coreui/coreui-free-bootstrap-admin-template/blob/main/LICENSE)
-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Inventar</title>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendors styles-->
    <link rel="stylesheet" href="vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="css/vendors/simplebar.css">
    <!-- Main styles for this application-->
    <link href="css/style.css" rel="stylesheet">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link href="css/examples.css" rel="stylesheet">
</head>
<body class="min-vh-100">


<sidebar th:replace="fragments/page.html :: sidebar"></sidebar>
<div class="wrapper d-flex flex-column vh-100">
    <div class="header sticky-top container-fluid">
        <header th:replace="fragments/page.html :: header"></header>
    </div>

    <div class="body flex-grow-4 p-4 ">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header"><strong>Comenzi</strong><span class="small ms-1" th:text="${currentUser.name}"></span></div>
                <div class="card-body">
                    <div class="example">
                        <p class="text-medium-emphasis small">Lista de produse</p>
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/addOrder}">
                                    </svg>Adauga comanda</a></li>
                            <li class="nav-item">
                                <a class="nav-link active" th:href="@{/listPOrders}">
                                    </svg>Lista comenzi</a></li>
                        </ul>

                        <table class="table">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col-1">#</th>
                                <th scope="col-8">Numele si Prenume</th>
                                <th scope="col-1">Produse</th>
                                <th scope="col-1">Adresa</th>
                                <th scope="col-1">Avans</th>
                                <th scope="col-1">Rest</th>
                                <th scope="col-1">Total</th>
                                <th scope="col-1"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>Ion Vasile</td>
                                <td>Canapea Ramona</td>
                                <td>Brasov strada Vlahuta nr.5</td>
                                <td>500<span> lei</span></td>
                                <td>200<span> lei</span></td>
                                <td>700<span> lei</span></td>
                                <td>
                                    <button class="btn btn-info" type="button">Printeaza</button>
                                    <button class="btn btn-warning" type="button">Editeaza</button>
                                    <button class="btn btn-danger" type="button">Sterge</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>



                        <!--                        <div class="tab-content rounded-bottom">-->
                        <!--                            <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-1003">-->
                        <!--                                <form class="row g-3">-->


                        <!--                                    <p class="text-medium-emphasis small">Date client</p>-->
                        <!--                                    <hr class="border-bottom my-0">-->


                        <!--                                    <div class="col-md-4">-->
                        <!--                                        <label class="form-label" for="name">Nume si Prenume</label>-->
                        <!--                                        <input class="form-control" id="name" type="text" placeholder="nume si prenume">-->
                        <!--                                    </div>-->
                        <!--                                    <div class="col-md-4">-->
                        <!--                                        <label class="form-label" for="phoneNumber">Telefon</label>-->
                        <!--                                        <input class="form-control" id="phoneNumber" type="text" placeholder="numar de telefon">-->
                        <!--                                    </div>-->
                        <!--                                    <div class="col-md-4">-->
                        <!--                                        <label class="form-label" for="cnp">CNP</label>-->
                        <!--                                        <input class="form-control" id="cnp" type="text" placeholder="CNP">-->
                        <!--                                    </div>-->

                        <!--                                    <br>-->
                        <!--                                    <p class="text-medium-emphasis small">Adresa de livrare</p>-->
                        <!--                                    <hr class="border-bottom my-0">-->

                        <!--                                    <div class="col-md-6">-->
                        <!--                                        <label class="form-label" for="city">Localitate</label>-->
                        <!--                                        <input class="form-control" id="city" type="text" placeholder="localitate">-->
                        <!--                                    </div>-->
                        <!--                                    <div class="col-md-6">-->
                        <!--                                        <label class="form-label" for="region">Judet</label>-->
                        <!--                                        <select class="form-select" id="region"  required>-->
                        <!--                                            <option selected="Brasov">Brasov</option>-->
                        <!--                                            <option selected="Covasna">Covasna</option>-->
                        <!--                                            <option selected="Harghita">Harghita</option>-->
                        <!--                                            <option selected="Prahova">Prahova</option>-->
                        <!--                                            <option selected="">Alege Judet ...</option>-->
                        <!--                                        </select>-->
                        <!--                                    </div>-->
                        <!--                                    <div class="col-md-4">-->
                        <!--                                        <label class="form-label" for="street">Strada</label>-->
                        <!--                                        <input class="form-control" id="street" type="text" placeholder="numele strazii">-->
                        <!--                                    </div>-->
                        <!--                                    <div class="col-md-2">-->
                        <!--                                        <label class="form-label" for="streetNumber">Numar</label>-->
                        <!--                                        <input class="form-control" id="streetNumber" type="text" placeholder="numarul strazii sau al casei">-->
                        <!--                                    </div>-->
                        <!--                                    <div class="col-md-2">-->
                        <!--                                        <label class="form-label" for="buildNumber">Bloc</label>-->
                        <!--                                        <input class="form-control" id="buildNumber" type="text" placeholder="numarul blocului">-->
                        <!--                                    </div>-->
                        <!--                                    <div class="col-md-2">-->
                        <!--                                        <label class="form-label" for="level">Etaj</label>-->
                        <!--                                        <select class="form-select" id="level">-->
                        <!--                                            <option selected="0">Parter</option>-->
                        <!--                                            <option selected="1">Etaj 1</option>-->
                        <!--                                            <option selected="2">Etaj 2</option>-->
                        <!--                                            <option selected="3">Etaj 3</option>-->
                        <!--                                            <option selected="4">Etaj 4</option>-->
                        <!--                                            <option selected="5">Etaj 5</option>-->
                        <!--                                            <option selected="6">Etaj 6</option>-->
                        <!--                                            <option selected="7">Etaj 7</option>-->
                        <!--                                            <option selected="8">Etaj 8</option>-->
                        <!--                                            <option selected="9">Etaj 9</option>-->
                        <!--                                            <option selected="10">Etaj 10</option>-->
                        <!--                                            <option selected="">Alege etajul...</option>-->
                        <!--                                        </select>-->
                        <!--                                    </div>-->
                        <!--                                    <div class="col-md-2">-->
                        <!--                                        <label class="form-label" for="apartment">Apartament</label>-->
                        <!--                                        <input class="form-control" id="apartment" type="text" placeholder="numarul apartamentului">-->
                        <!--                                    </div>-->
                        <!--                                    <div class="col-12">-->
                        <!--                                        <div class="form-check">-->
                        <!--                                            <input class="form-check-input" id="deliveryAddress" type="checkbox">-->
                        <!--                                            <label class="form-check-label" for="deliveryAddress">Adresa de livrare este alta de cat cea de domiciliu.</label>-->
                        <!--                                        </div>-->
                        <!--                                    </div>-->


                        <!--                                    <p class="text-medium-emphasis small">Produse cumparate sau comandate</p>-->
                        <!--                                    <hr class="border-bottom my-0">-->


                        <!--                                    <div class="col-md-6">-->
                        <!--                                        <label class="form-label" for="product">Produs</label>-->
                        <!--                                        <input class="form-control" id="product" type="text" placeholder="produsul dorit">-->
                        <!--                                    </div>-->
                        <!--                                    <div class="col-md-2">-->
                        <!--                                        <label class="form-label" for="numberOfProducts">Numar bucati</label>-->
                        <!--                                        <input class="form-control" id="numberOfProducts" type="text" placeholder="numarul de bucati">-->
                        <!--                                    </div>-->
                        <!--                                    <div class="col-md-2">-->
                        <!--                                        <label class="form-label" for="price">Pret / Bucata</label>-->
                        <!--                                        <input class="form-control" id="price" type="text" placeholder="pretul produsului per bucata">-->
                        <!--                                    </div>-->
                        <!--                                    <div class="col-md-2">-->
                        <!--                                        <label class="form-label" for="totalPrice">Total</label>-->
                        <!--                                        <input class="form-control" id="totalPrice" type="text" placeholder="total">-->
                        <!--                                    </div>-->


                        <!--                                    <p class="text-medium-emphasis small">Optiuni de plata</p>-->
                        <!--                                    <hr class="border-bottom my-0">-->

                        <!--                                    <div class="col-md-2">-->
                        <!--                                        <label class="form-label" for="avans">Avans</label>-->
                        <!--                                        <input class="form-control" id="avans" type="text" placeholder="avansul platit">-->
                        <!--                                    </div>-->
                        <!--                                    <div class="col-md-2">-->
                        <!--                                        <label class="form-label" for="rest">Rest de plata</label>-->
                        <!--                                        <input class="form-control" id="rest" type="text" placeholder="rest de plata">-->
                        <!--                                    </div>-->

                        <!--                                    <div class="col-12">-->
                        <!--                                        <button class="btn btn-primary" type="submit">Sign in</button>-->
                        <!--                                    </div>-->
                        <!--                                </form>-->
                        <!--                            </div>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer sticky-bottom container-fluid mt-auto mb-0">
        <footer th:replace="fragments/page.html :: footer"></footer>
    </div>
</div>

<!-- CoreUI and necessary plugins-->
<script src="vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
<script src="vendors/simplebar/js/simplebar.min.js"></script>
<!-- Plugins and scripts required by this view-->
<script src="vendors/chart.js/js/chart.min.js"></script>
<script src="vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
<script src="vendors/@coreui/utils/js/coreui-utils.js"></script>
<script src="js/main.js"></script>
<script>
</script>

</body>
</html>