<!DOCTYPE html><!--
* CoreUI - Free Bootstrap Admin Template
* @version v4.2.2
* @link https://coreui.io/product/free-bootstrap-admin-template/
* Copyright (c) 2023 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://github.com/coreui/coreui-free-bootstrap-admin-template/blob/main/LICENSE)
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="head">
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
    <title>Fragments</title>
    <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="assets/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Vendors styles-->
    <link rel="stylesheet" href="vendors/simplebar/css/simplebar.css">
    <link rel="stylesheet" href="css/vendors/simplebar.css">
    <!-- Main styles for this application-->
    <link href="css/style.css" rel="stylesheet">
    <!-- We use those styles to show code examples, you should remove them in your application.-->
    <link href="css/examples.css" rel="stylesheet">
</head>
<body>

<sidebar th:fragments="sidebar" class="sidebar">
    <div class="sidebar sidebar-dark sidebar-fixed" id="sidebar">
        <div class="sidebar-brand d-none d-md-flex">
            <svg class="sidebar-brand-full" th:href="@{/index}" width="118" height="46" alt="CoreUI Logo">
                <use xlink:href="assets/brand/coreui.svg#full"></use>
            </svg>
            <svg class="sidebar-brand-narrow" width="46" height="46" alt="CoreUI Logo">
                <use xlink:href="assets/brand/coreui.svg#signet"></use>
            </svg>
        </div>
        <ul class="sidebar-nav" data-coreui="navigation" data-simplebar="">
            <li class="nav-item"><a class="nav-link" th:href="@{/dashboard}" >
                <svg class="nav-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-speedometer"></use>
                </svg> Panou central</a></li>
            <!--        <li class="nav-title">Theme</li>-->
            <!--        <li class="nav-item"><a class="nav-link" href="colors.html">-->
            <!--            <svg class="nav-icon">-->
            <!--              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-drop"></use>-->
            <!--            </svg> Colors</a></li>-->
            <!--        <li class="nav-item"><a class="nav-link" href="typography.html">-->
            <!--            <svg class="nav-icon">-->
            <!--              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-pencil"></use>-->
            <!--            </svg> Typography</a></li>-->
            <li class="nav-title">Meniu</li>

            <!--        <li class="nav-item mt-auto"><a class="nav-link" href="https://coreui.io/docs/templates/installation/" target="_blank">-->
            <!--          <svg class="nav-icon">-->
            <!--            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-description"></use>-->
            <!--          </svg> Add command</a></li>-->
            <!--        <li class="nav-item mt-auto"><a class="nav-link" href="https://coreui.io/docs/templates/installation/" target="_blank">-->
            <!--          <svg class="nav-icon">-->
            <!--            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-description"></use>-->
            <!--          </svg> Commands list</a></li>-->
            <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
                <svg class="nav-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-notes"></use>
                </svg> Comenzi</a>
                <ul class="nav-group-items">
                    <li class="nav-item"><a class="nav-link" th:href="@{/addOrder}">Adauga comanda</a></li>
                    <li class="nav-item"><a class="nav-link" th:href="@{/listOrders}">Comenzi</a></li>
<!--                    <li class="nav-item"><a class="nav-link" href="forms/select.html">Comenzi furnizori</a></li>-->
<!--                    <li class="nav-item"><a class="nav-link" href="forms/range.html"> Lista comenzi</a></li>-->
                    <!--            <li class="nav-item"><a class="nav-link" href="forms/input-group.html"> Input group</a></li>-->
                    <!--            <li class="nav-item"><a class="nav-link" href="forms/floating-labels.html"> Floating labels</a></li>-->
                    <!--            <li class="nav-item"><a class="nav-link" href="forms/layout.html"> Layout</a></li>-->
                    <!--            <li class="nav-item"><a class="nav-link" href="forms/validation.html"> Validation</a></li>-->
                </ul>
            </li>
            <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">
                <svg class="nav-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-notes"></use>
                </svg> Produse  <span class="badge badge-sm bg-info ms-auto">NEW</span></a>
                <ul class="nav-group-items">
                                 <li class="nav-item"><a class="nav-link" th:href="@{/addProduct}"> Receptie Marfa</a></li>
                                 <li class="nav-item"><a class="nav-link" th:href="@{/listProducts}">Inventar</a></li>

<!--                                <li class="nav-item"><a class="nav-link" href="forms/input-group.html"> Input group</a></li>-->
<!--                                <li class="nav-item"><a class="nav-link" href="forms/floating-labels.html"> Floating labels</a></li>-->
<!--                                <li class="nav-item"><a class="nav-link" href="forms/layout.html"> Layout</a></li>-->
<!--                                <li class="nav-item"><a class="nav-link" href="forms/validation.html"> Validation</a></li>-->
                </ul>
            </li>
            <!--        <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">-->
            <!--            <svg class="nav-icon">-->
            <!--              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-star"></use>-->
            <!--            </svg> Icons</a>-->
            <!--          <ul class="nav-group-items">-->
            <!--            <li class="nav-item"><a class="nav-link" href="icons/coreui-icons-free.html"> CoreUI Icons<span class="badge badge-sm bg-success ms-auto">Free</span></a></li>-->
            <!--            <li class="nav-item"><a class="nav-link" href="icons/coreui-icons-brand.html"> CoreUI Icons - Brand</a></li>-->
            <!--            <li class="nav-item"><a class="nav-link" href="icons/coreui-icons-flag.html"> CoreUI Icons - Flag</a></li>-->
            <!--          </ul>-->
            <!--        </li>-->
            <!--        <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">-->
            <!--            <svg class="nav-icon">-->
            <!--              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-bell"></use>-->
            <!--            </svg> Notifications</a>-->
            <!--          <ul class="nav-group-items">-->
            <!--            <li class="nav-item"><a class="nav-link" href="notifications/alerts.html"><span class="nav-icon"></span> Alerts</a></li>-->
            <!--            <li class="nav-item"><a class="nav-link" href="notifications/badge.html"><span class="nav-icon"></span> Badge</a></li>-->
            <!--            <li class="nav-item"><a class="nav-link" href="notifications/modals.html"><span class="nav-icon"></span> Modals</a></li>-->
            <!--            <li class="nav-item"><a class="nav-link" href="notifications/toasts.html"><span class="nav-icon"></span> Toasts</a></li>-->
            <!--          </ul>-->
            <!--        </li>-->
            <!--        <li class="nav-item"><a class="nav-link" href="widgets.html">-->
            <!--            <svg class="nav-icon">-->
            <!--              <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-calculator"></use>-->
            <!--            </svg> Widgets<span class="badge badge-sm bg-info ms-auto">NEW</span></a></li>-->
            <!--        <li class="nav-divider"></li>-->
            <!--        <li class="nav-title">Angajati</li>-->

<!--            <li class="nav-group"><a class="nav-link nav-group-toggle" href="#">-->
<!--                <svg class="nav-icon">-->
<!--                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-star"></use>-->
<!--                </svg> Angajati</a>-->
<!--                <ul class="nav-group-items">-->
<!--                    &lt;!&ndash;            <li class="nav-item"><a class="nav-link" href="login.html" target="_top">&ndash;&gt;-->
<!--                    &lt;!&ndash;                <svg class="nav-icon">&ndash;&gt;-->

<!--                    &lt;!&ndash;                </svg> Detalii angajati</a></li>&ndash;&gt;-->
<!--                    <li class="nav-item"><a class="nav-link" href="register.html" target="_top">-->
<!--                        <svg class="nav-icon">-->

<!--                        </svg> Detaliile mele</a></li>-->
<!--                    <li class="nav-item"><a class="nav-link" href="404.html" target="_top">-->
<!--                        <svg class="nav-icon">-->

<!--                        </svg> Pontaj</a></li>-->
<!--                    <li class="nav-item"><a class="nav-link" href="404.html" target="_top">-->
<!--                        <svg class="nav-icon">-->

<!--                        </svg> Setari</a></li>-->
<!--                    &lt;!&ndash;            <li class="nav-item"><a class="nav-link" href="500.html" target="_top">&ndash;&gt;-->
<!--                    &lt;!&ndash;                <svg class="nav-icon">&ndash;&gt;-->
<!--                    &lt;!&ndash;                  <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-bug"></use>&ndash;&gt;-->
<!--                    &lt;!&ndash;                </svg> Error 500</a></li>&ndash;&gt;-->
<!--                </ul>-->
<!--            </li>-->
            <li class="nav-item mt-auto"><a class="nav-link" href="https://coreui.io/docs/templates/installation/" target="_blank">
                <svg class="nav-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-description"></use>
                </svg> Termeni si conditii</a></li>
            <li class="nav-item"><a class="nav-link nav-link-danger" href="https://coreui.io/pro/" target="_top">
                <svg class="nav-icon">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-layers"></use>
                </svg> Certificat de garantie
            </a></li>
        </ul>
        <!--      <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>-->
    </div>

</sidebar>




<header th:fragment="header"  class="header w-100">
    <div class="header w-100">
            <button class="header-toggler px-md-0 me-md-3" type="button" onclick="coreui.Sidebar.getInstance(document.querySelector('#sidebar')).toggle()">
                <svg class="icon icon-lg">
                    <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-menu"></use>
                </svg>
            </button><a class="header-brand d-md-none" href="#">
            <svg width="118" height="46" alt="CoreUI Logo">
                <use xlink:href="assets/brand/coreui.svg#full"></use>
            </svg></a>
            <ul class="header-nav d-none d-md-flex">
                <li class="nav-item"><a class="nav-link" th:href="@{/dashboard}">Panou central</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/userList}">Lista utilizatori</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Setari</a></li>
            </ul>
            <ul class="header-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="#">
                    <svg class="icon icon-lg">
                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-bell"></use>
                    </svg></a></li>
                <li class="nav-item"><a class="nav-link" href="#">
                    <svg class="icon icon-lg">
                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-list-rich"></use>
                    </svg></a></li>
                <li class="nav-item"><a class="nav-link" href="#">
                    <svg class="icon icon-lg">
                        <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-envelope-open"></use>
                    </svg></a></li>
            </ul>

            <ul class="header-nav ms-3">
                <li class="nav-item dropdown"><a class="nav-link py-0" data-coreui-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <div class="avatar avatar-md"><img class="avatar-img" src="assets/img/avatars/8.jpg" alt="user@email.com"></div>
                </a>
                    <div class="dropdown-menu dropdown-menu-end pt-0">
                        <div class="dropdown-header bg-light py-2">
                            <div class="fw-semibold">Detalii cont</div>
                        </div><a class="dropdown-item" href="#">
                        <svg class="icon me-2">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-bell"></use>
                        </svg> Updates<span class="badge badge-sm bg-info ms-2">42</span></a><a class="dropdown-item" href="#">
                        <svg class="icon me-2">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-envelope-open"></use>
                        </svg> Mesaje<span class="badge badge-sm bg-success ms-2">42</span></a><a class="dropdown-item" href="#">
                        <svg class="icon me-2">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-task"></use>
                        </svg> Taskuri<span class="badge badge-sm bg-danger ms-2">42</span></a><a class="dropdown-item" href="#">
                        <svg class="icon me-2">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-comment-square"></use>
                        </svg> Comentarii<span class="badge badge-sm bg-warning ms-2">42</span></a>
                        <div class="dropdown-header bg-light py-2">
                            <div class="fw-semibold">Setari</div>
                        </div><a class="dropdown-item" href="#">
                        <svg class="icon me-2">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-user"></use>
                        </svg> Profil</a><a class="dropdown-item" href="#">
                        <svg class="icon me-2">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-settings"></use>
                        </svg> Setari</a><a class="dropdown-item" href="#">
                        <svg class="icon me-2">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-credit-card"></use>
                        </svg> Plata<span class="badge badge-sm bg-secondary ms-2">42</span></a><a class="dropdown-item" href="#">
                        <svg class="icon me-2">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-file"></use>
                        </svg> Proiecte<span class="badge badge-sm bg-primary ms-2">42</span></a>
                        <div class="dropdown-divider"></div><a class="dropdown-item" href="#">
                        <svg class="icon me-2">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-lock-locked"></use>
                        </svg> Blocheaza cont</a><a class="dropdown-item" th:href="@{/logout}">
                        <svg class="icon me-2">
                            <use xlink:href="vendors/@coreui/icons/svg/free.svg#cil-account-logout"></use>
                        </svg> Logout</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="header-divider"></div>
        <div class="container-fluid align-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb my-0 ms-auto">
                    <span style="padding-top: 2%; padding-right: 10px" th:text="${currentUser.name} + ' - ' + ${currentUser.role} "></span>
                </ol>
            </nav>
        </div>
</header>


<footer th:fragment="footer" class="footer w-100">
    <div>Created by Pirjol Adrian © 2023 AdyMob-Design.</div>
    <div class="ms-auto">E-mail: <a href="https://coreui.io/docs/">info@adymob-design.ro</a></div>
</footer>


</body>
</html>